<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job">
  <description>Choose an environment and trigger its pipeline.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>ENVIRONMENT</name>
          <description>Target environment to deploy.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
{% for environment in jenkins.environments %}
              <string>{{ environment }}</string>
{% endfor %}
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>pipeline {
  agent {
    kubernetes {
      cloud 'kubernetes'
      namespace '{{ jenkins.namespace }}'
      label 'jenkins-{{ jenkins.creator_job_name }}'
      defaultContainer 'jnlp'
      podRetention never()
      idleMinutes 0
      yaml '''
apiVersion: v1
kind: Pod
metadata:
  name: jenkins-{{ jenkins.creator_job_name }}
spec:
  containers:
    - name: jnlp
      image: {{ jenkins.agent_image }}
'''
    }
  }
  parameters {
    choice(name: 'ENVIRONMENT', choices: [{% for environment in jenkins.environments %}'{{ environment }}'{% if not loop.last %}, {% endif %}{% endfor %}], description: 'Target environment to deploy.')
  }
  stages {
    stage('Trigger environment pipeline') {
      steps {
        build job: params.ENVIRONMENT, wait: true
      }
    }
  }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <disabled>false</disabled>
</flow-definition>
